My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        640
      ],
      "id": "fc1ca2a5-373c-47a7-9450-bff287f98ee0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SkPeXZqd7i8BBMNh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        660
      ],
      "id": "828caee4-109e-43cd-a905-db4ee30761c1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2f8b0ba-3f33-47a0-b9ab-a2c050b3b041",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        400
      ],
      "id": "13e4e9bd-8ebc-45e7-bd95-ae87b99b95a8",
      "name": "Text only prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5aefe4c5-f776-403f-99e0-643f48cfd15f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6db5af05-e41f-4da1-a55f-052a9ac4fe0b",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05281edb-2b82-4f1a-a5cd-34492c0941ca",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -200,
        320
      ],
      "id": "1e175749-c399-48b0-a7d6-77125c29ab1a",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        320
      ],
      "id": "d93c1501-ad81-4813-aec9-22432735fcd7",
      "name": "WhatsApp Trigger",
      "webhookId": "bb4bbf86-fe13-4dcf-b698-31d4bdf6d1f4",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "QA8VIhUYuEasOb2W",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20,
        -100
      ],
      "id": "206f6937-be32-4ec0-90a8-02a6a312d442",
      "name": "Get audio url",
      "webhookId": "1438aa8e-261a-4725-9d39-a56650969699",
      "credentials": {
        "whatsAppApi": {
          "id": "zD991fjMi2TwSWin",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -100
      ],
      "id": "1f22bef1-586f-4422-a3e6-d0d50c9537e2",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OlLP6eezbvPzlSap",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        400,
        -100
      ],
      "id": "6657bcd6-03f7-45ca-bf9b-5718afa952bf",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "SkPeXZqd7i8BBMNh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00edca3f-75f3-4c9f-89c9-deb96be97518",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -100
      ],
      "id": "c5251133-8ac7-4777-8c51-8f2fe2710942",
      "name": "Audio Only Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f0bf8d5-2ca2-4694-936e-13e3cb45a2cb",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        400
      ],
      "id": "23ba00cd-d38b-42e8-8941-64608faea165",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595144253675389",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        840,
        580
      ],
      "id": "f0f872a3-b327-4168-874a-4dd1f748a16b",
      "name": "Respond with text",
      "webhookId": "8dd83fc6-1bb8-4015-9e7e-ac51124e2e2f",
      "credentials": {
        "whatsAppApi": {
          "id": "zD991fjMi2TwSWin",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Virgil AI').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        380
      ],
      "id": "94b82c60-f8e0-4e6b-b5ca-a44b8045e3cd",
      "name": "Genereate Audio",
      "credentials": {
        "openAiApi": {
          "id": "SkPeXZqd7i8BBMNh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        380
      ],
      "id": "b3719d3b-746a-457d-80fe-ae2e1b1ecf74",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "595144253675389",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1360,
        380
      ],
      "id": "99427935-225f-4c3d-b26f-af84f4de217b",
      "name": "Respond with audio",
      "webhookId": "aaedda4c-e783-467a-95ee-dd0683db031a",
      "credentials": {
        "whatsAppApi": {
          "id": "zD991fjMi2TwSWin",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -20,
        120
      ],
      "id": "4d9e6e05-8fe5-4105-a840-a84958a6d3b0",
      "name": "Get image url",
      "webhookId": "12621675-c03a-4cc3-b8bf-4d8079389fae",
      "credentials": {
        "whatsAppApi": {
          "id": "zD991fjMi2TwSWin",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        120
      ],
      "id": "002e161e-f15d-4521-839c-5d515a975602",
      "name": "Download image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OlLP6eezbvPzlSap",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        420,
        120
      ],
      "id": "c7baea8e-02b1-4e74-9420-5dde4f97f1f7",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SkPeXZqd7i8BBMNh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7bf9fc8-bf35-4dd2-8ee6-7d4894cd2f21",
              "name": "text",
              "value": "=# The user provided the following image and text\n\n## IMAGE CONTENT:\n\n{{ $json.content }} \n\n\nUSER MESSAGE:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || 'Describe this image'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        120
      ],
      "id": "6b746300-82b8-4f95-b1e5-7c558edfab9b",
      "name": "Image only Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant called Sam.\n\nBe friendly and do what the user wants\n\nYou are currently talking to {{ $json.contacts[0].profile.name }}\n\nThe current data and time is  {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        400
      ],
      "id": "c8f35831-d181-4c64-8ccd-9e994798f9be",
      "name": "Virgil AI"
    },
    {
      "parameters": {
        "content": "## Image",
        "height": 180,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        100
      ],
      "typeVersion": 1,
      "id": "9821afbe-2e65-445d-a9b0-8bb45e0903a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.leonvanzyl.com/mcp/mytools/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        760,
        920
      ],
      "id": "5043a9ab-63c9-446e-91ea-d014d3aca7da",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "contacts",
        "toolDescription": "Returns contact information like email addresses.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "contacts"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        420,
        920
      ],
      "id": "e6b08b49-40fe-4eaa-8133-07784daeebb0",
      "name": "Knowledge Base"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        1100
      ],
      "id": "48bbce25-5baa-4aff-979a-0db4e14cb7e9",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        280,
        920
      ],
      "id": "ff146059-f22e-4791-8747-8d6215855fc0",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        140,
        920
      ],
      "id": "bd9ae457-8bbe-4212-9bc4-a2731b66e9cf",
      "name": "Web Search",
      "credentials": {
        "serpApi": {
          "id": "eux0a5yOeFqRDKYb",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tools",
        "height": 400,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        840
      ],
      "id": "da372efc-7e64-4fd2-b845-139c742b1cf3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Audio",
        "width": 940
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -120
      ],
      "typeVersion": 1,
      "id": "4d1682a1-4d57-4afa-a5be-7f87dd38f8fa",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Virgil AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Virgil AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text only prompt": {
      "main": [
        [
          {
            "node": "Virgil AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get audio url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text only prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio url": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio Only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Only Prompt": {
      "main": [
        [
          {
            "node": "Virgil AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Genereate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genereate Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond with audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image url": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Image only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image only Prompt": {
      "main": [
        [
          {
            "node": "Virgil AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Virgil AI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Virgil AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39f2ba21-3538-42fb-9936-28c931508111",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19728387acf39158b8bc0a64af32c1a7cf90a2b4fc48768e76d08f60696d4708"
  },
  "id": "MzSVoHOKcU9DpBZU",
  "tags": []
}